.templete{width: 960px;margin: 0 auto;background: #669ACC}
.fullbody {}
.banners {
    border: 5px solid #ffab2a;
    height: 100px;
    width: 950px;
}
.banners p {
    font-size: 38px;
    text-align: center;
}
.container {
    height: 400px;
    overflow: hidden;
    text-decoration: none;
    width: 960px;
}
.link {
    border: 5px solid #ff8080;
    float: left;
    height: 390px;
    overflow: hidden;
    width: 90px;
    padding-top: 5px;
    font-size: 5px;
    text-align: center;
}
.link pre {
    font-size: 10px;
    text-decoration: none;
    height: 380px;
    width: 90px;
    padding-top: 156px;
}

.container01 {
    float: right;
    overflow: hidden;
    width: 860px;
    height: 400px;
}
.container02 {
    clear: both;
    float: left;
    height: 200px;
    overflow: hidden;
}
.container02 p {
    text-align: center;
    text-decoration: none;
}
.website {
    border: 5px solid #ff8080;
    float: left;
    height: 155px;
    padding: 35px 0 0;
    text-decoration: none;
    width: 420px;
}
.photo {
    border: 5px solid #ff8080;
    clear: both;
    float: left;
    height: 125px;
    padding-top: 65px;
    text-decoration: none;
    width: 420px;
}
.para {
    border: 5px solid #ff8080;
    clear: both;
    height: 130px;
    padding-top: 60px;
    text-align: center;
}
.para p {
    font-size: 24px;
    text-align: center;
}
.subline {
    height: 70px;
    border: 5px solid #ffaee4;
    width: 950px;
    font-size: 15px;
    text-align: center;
    padding-right: 0px;
}